---
import Layout from "../layouts/Layout.astro";
const { id } = Astro.params;
import { projects } from "../assets/data";

export function getStaticPaths() {
  return [
    { params: { id: "xiaomi1" } },
    { params: { id: "xiaomi2" } },
    { params: { id: "xiaomi3" } },
    { params: { id: "xiaomi4" } },
  ];
}

const card = projects.find((card) => card.image === id);
console.log(card);
---

<Layout title={`Projec | ${id}`}>
  <main
    class="relative flex items-center lg:h-screen xs:h-fit"
    transition:name={`image-${id}`}
    transition:persist>
    <div class="flex justify-center items-center w-full h-[80%] xs:h-fit">
      <div
        class="flex gap-x-10 2xl:mt-2 2xl:w-3/4 2xl:h-fit xl:w-4/5 lg:mt-0
      lg:flex-row lg:h-[90%] xs:w-4/5 xs:flex-col-reverse">
        <img
          src={`${id}.webp`}
          alt="foto de el proyecto"
          class="aspect-square object-cover rounded-xl object-top mx-auto hover:scale-[105%] transition-all lg:mb-0 lg:mt-0 sm:w-[850px] xxs:mt-10 xs:w-[80%] xs:mt-20 xs:mb-5"
        />
        <div class="flex flex-col gap-y-3 relative lg:py-0 xs:py-7">
          <h1 class="text-xl pt-9 font-black">{card.title}</h1>
          <p class="opacity-50 font-semibold sm:text-[14px] xs:text-[12px]">
            {card.description}
          </p>
          <div
            class="absolute flex-col gap-y-10 xxs:right-10 xxs:flex-row xs:flex-col xs:-bottom-8 xs:right-[calc(100vw-90%)]">
            <a
              href={`/#${id}`}
              type="button"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <svg
                class="w-4 h-4 rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10">
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
              <span class="not-sr-only">Volver</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
