---
interface Props {
  title: string;
  description: string;
  image: string;
}

const { title, description, image } = Astro.props;
---

<a
  class="parent-container scroll-mt-40 hover:contrast-100 hover:scale-[105%] inline-block rounded-lg transition-all duration-300 ease-in relative border border-white/80 bg-cover bg-center h-[300px] cursor-pointer"
  id={image}
  href={`/${image}`}
  style={{
    backgroundImage: `linear-gradient(to bottom, hsla(0, 0%, 100%, 0),hsla(0, 0%, 0%)),url(${image}.webp)`,
  }}
  transition:name={`image-${image}`}>
  <div class="container absolute bottom-0 px-5 my-6">
    <h3 class="text-5xl font-bold">{title}</h3>
    <p
      class="paragraph text-white/60 row-span-1 opacity-0 md:text-base xxs:text-[20px] xs:text-[15px]">
      {description.slice(0, 60)} ...
    </p>
  </div>
</a>

<style>
  .container {
    transform: translateY(40px);
    transition: transform ease-in-out 500ms;
  }
  .parent-container:hover .container {
    transform: translateY(0);
  }
  .parent-container:hover .container .paragraph {
    opacity: 1;
    transition: opacity ease-in 300ms;
  }
</style>
